{# Kind of an odd include #}
{# Ought to use url tag #}
<div style="text-align:center;">
    <a href="{% url 'diseases-disease-information' object.id %}" class="btn btn-default btn-large">
        Disease Information
    </a>
    <a href="{% url 'diseases-disease-biology' object.id %}" class="btn btn-default btn-large">
        Disease Biology
    </a>
    <a href="{% url 'diseases-disease-models' object.id %}" class="btn btn-default btn-large">
        Experimental Models
    </a>
    <a href="{% url 'diseases-disease-components' object.id %}" class="btn btn-default btn-large">
        Components
    </a>
    <a href="{% url 'diseases-disease-data' object.id %}" class="btn btn-default btn-large">
        Disease Data and Analysis
    </a>
    <a href="{% url 'diseases-disease-mps' object.id %}" class="btn btn-default btn-large">
        MPS Data and Analysis
    </a>
</div>
