{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/cell_sample_selection.js" %}"></script>
    <script src="{% static "js/split_time.js" %}"></script>
    <script src="{% static "assays/group_display.js" %}"></script>
    <script src="{% static "assays/assay_shared_omics.js" %}"></script>
    <script src="{% static "assays/assaystudy_omics.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ object.get_list_url }}">All Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Gene Expression Analysis</li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' with omics="true"%}
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row text-center">
            <h1>
                Gene Expression Analysis for:<br>
                <em>{{ object }}</em>
            </h1>
        </div>

        {% include 'assays/study_buttons.html' %}

        <div class="text-center small-padding-top">
            <a href="{% url 'assayomicdatafileupload-index' object.id %}" class="btn btn-primary" role="button">Omic Data File List</a>
            {# Gray out if there isn't anything, just for clarity #}
            {% if object.assayomicdatafileupload_set.count %}
            <a href="#" id="download-filtered-data" class="btn btn-info" role="button">Download Filtered Data</a>
            {% else %}
            <button class="btn btn-default disabled">Download Filtered Data</button>
            {% endif %}
        </div>
    </div>

    <div>
        <button id="omics-help" class="btn btn-info" type="button" data-toggle="collapse" data-target="#omics-info" aria-expanded="false" aria-controls="omics-info">
            Show/Hide Page Help
        </button>
        <div id="omics-info" class="collapse large-padding-top example_expand">
            <div class="alert alert-info" role="alert">
                <p>Tips and Notes:</p>
                <ul>
                    <li>Enter search terms in the box below to filter the selection table. Separate terms with a space to search multiple fields.</li>
                    <li>Adjust display parameters, filters, and categorical thresholds using the sidebar. Apply changes with the "Apply Filters" button.</li>
                    <li>To work with data externally, use the "Download Filtered Data" button above to download the currently displayed points and settings as a CSV.</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="omics_table_selects" class="padded-bottom large-margin-top" hidden>
        <a data-target-id="omics_table" class="btn btn-primary filter-select-all">Select All</a>
        <a data-target-id="omics_table" class="btn btn-danger filter-deselect-all">Deselect All</a>
    </div>
    <table id="omics_table" class="table table-bordered" hidden>
        <thead>
            <tr>
                <td>
                    <label>Show/Hide</label>
                </td>
                <td>
                    <label>Treatment Group</label>
                </td>
                <td>
                    <label># of Datapoints</label>
                </td>
                <td>
                    <label>Data Description</label>
                </td>
            </tr>
        </thead>
        <tbody id="omics_table_body">
        </tbody>
    </table>

    {# Maybe ought not make this at all #}
    <div hidden>
        {% include 'assays/group_difference_table.html' %}
    </div>

    <div id="plots">
        <div id="volcano-plots">
        </div>
        <div id="ma-plots">
        </div>
    </div>

    <div hidden id="omics_contents_hover">
        <table class="table table-bordered table-condensed bg-warning">
            <tbody id="omics_contents_hover_body">
            </tbody>
        </table>
    </div>

    <div hidden>
        {{ form.series_data }}
    </div>
    {% include 'assays/component_displays.html' %}

    {# Just a spacer (and yes, inline styles are ugly)#}
    <div style="padding-bottom: 250px;"></div>
{% endblock %}
