<div class="text-center padded-bottom small-padding-top">
    {% if user_is_group_editor and not object.signed_off_by %}
        <a class="btn btn-primary" role="button" href="{% url 'assays-assaystudy-update' object.id %}">Edit This Study</a>
    {% endif %}
    <span class="dropdown btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" id="analyze_edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Analyze
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="analyze_edit">
            {# "index" has been renamed "overview" #}
            <li><a href="{% url 'assays-assaystudy-index' object.id %}">Study Overview</a></li>
            <li><a href="{% url 'assays-assaystudy-summary' object.id %}">Study Summary</a></li>
            {# TODO REVISE THIS CONDITIONAL DEPENDING ON OMICS #}
            {% if object.assaydatafileupload_set.count or object.assaysplatereadermap.count %}
            {# Not a great label? #}
            <li><a href="{% url 'assays-assaystudy-data-index' object.id %}">Data Uploads</a></li>
            {% endif %}
            {% if object.assaydatapoint_set.count %}
            <li><a href="{% url 'assays-assaystudy-reproducibility' object.id %}">Reproducibility</a></li>
            <li><a href="{% url 'assays-assaystudy-power-analysis' object.id %}">Power Analysis</a></li>
            {% else %}
            <li class="disabled" title="This study has no data."><a href="{% url 'assays-assaystudy-reproducibility' object.id %}">Reproducibility</a></li>
            <li class="disabled" title="This study has no data."><a href="{% url 'assays-assaystudy-power-analysis' object.id %}">Power Analysis</a></li>
            {% endif %}
            {# Stupid conditional because images are not tied directly to studies? #}
            {% if object.assayimagesetting_set.count %}
            <li><a href="{% url 'assays-assaystudy-images' object.id %}">Images and Videos</a></li>
            {% else %}
            <li class="disabled" title="This study has no images or videos."><a href="{% url 'assays-assaystudy-images' object.id %}">Images and Videos</a></li>
            {% endif %}
            {% if object.assayomicdatafileupload_set.count %}
            <li><a href="{% url 'assays-assaystudy-omics' object.id %}">Gene Expression Analysis</a></li>
            {% else %}
            <li class="disabled" title="This study has no omic data."><a href="{% url 'assays-assaystudy-omics' object.id %}">Gene Expression Analysis</a></li>
            {% endif %}

            {% if user_is_group_editor %}
                <li role="separator" class="divider"></li>
                <li><a id="clone_study_request" role="button">Clone this Study</a></li>
            {% endif %}
        </ul>
    </span>

    {% if user_is_group_admin or user_is_stakeholder_admin or user.is_superuser or show_indicate_study_sign_off or not user_is_group_admin and user_is_group_editor and not object.signed_off_by %}
    <span class="dropdown btn-group">
        <button class="btn btn-success dropdown-toggle" type="button" id="sign_off_permissions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sign Off/Permission
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sign_off_permissions">
            {% if user_is_group_editor %}
                <li><a href="{% url 'assays-assaystudy-access' object.id %}">Change Study Access</a></li>
            {% endif %}
            {% if not user_is_group_admin and user_is_group_editor and not object.signed_off_by %}
                <li><a id="indicate_study_is_ready_for_sign_off" role="button">Indicate Study is Ready for Sign Off</a></li>
            {% endif %}
            {% if user_is_group_admin %}
                <li><a href="{% url 'assays-assaystudy-sign-off' object.id %}">View/Edit Sign Off Status of this Study</a></li>
            {% endif %}
            {% if user_is_stakeholder_admin %}
                <li><a href="{% url 'assays-assaystudy-sign-off' object.id %}">View/Edit Approval Status of this Study</a></li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a href="/admin/assays/assaystudy/{{ object.id }}">Change Group Access for this Study</a></li>
            {% endif %}
        </ul>
    </span>
    {% endif %}
</div>
